.cart__object{
    display: flex;
    height: 7rem;
    border: 2px solid ;
    border-color: #258798;
    border-radius: 12px;
    margin: 1rem;
    justify-content: space-around;
}

.cart__img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -5rem;
    border-radius: 12px;
}

.cart__texts{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
}

.cart__img{
    margin-left: -5rem;
}

.cart__type{
    color: #156371;
    font-weight: 750;
}

.cart__type,
.cart__brand,
.cart__price {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 20px;
}

.cart__amount{
    margin-top: auto;
    margin-bottom: auto;
}

.cart__total-price{
    margin-top: auto;
    margin-bottom: auto;
}

.cart__total{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1156px;
    font-size: 25px;
    font-family: "Poppins-Medium";
}

.cart__object__right{
   display: flex;
}

.button__plus,
.button__minus{
    background-color: #fff;
    font-size: 17px;
    height: 2rem;
    width: 2rem;
    margin: auto 0.5rem;
    border-color: #258798;
    border-radius: 12px;
    font-family: "Poppins-Medium";
    color:#7A7A7A;
    cursor: pointer;
}

.button__remove{
    height: 3rem;
    width: 6rem;
    color: #258798;
    border-radius: 50px;
    border-color: #258798;
    background-color: white;
    cursor: pointer;
    margin: auto -2rem auto 0.5rem;
    font-size: 17px;
}
.cart__buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 40px; 
    margin-bottom: 40px;
}

.button__go-back{
    background-color: #fff;
    font-size: 17px;
    padding: 8px 16px;
    border-color: #7A7A7A;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    font-family: "Poppins-Medium";
    color:#7A7A7A;
}

.button__continue{
    background-color: #7A7A7A;
    color: #fff;
    font-size: 17px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    font-family: "Poppins-Medium";
    border: 2px solid #7A7A7A;
}

.button__continue:hover {
    background-color: #625f5f;
}

.button__go-back:hover{
    background-color: #f3f1f1;
}