@media screen and (max-width: 320px) {
    .bottom__container {
        margin-left: 0;
        margin-right: 0;
    }

    .bottom__title,
    .bottom__view-all {
        font-size: 18px;
        line-height: 36px;
        margin-top: 30px;
        margin-left: 27px;
        margin-right: 20px;
    }

    .bottom__blocks {
        display: block;
        margin: 0;
        column-count: initial;

    }

    .bottom__block {
        width: 100%;
        margin-left: 24px;

    }

    .bottom__paragraph {
        font-size: 11px;
        line-height: 30px;
    }

    .bottom__description {
        font-size: 10px;
        line-height: 24px;
    }
}

@media screen and (min-width: 2560px) {
    .bottom__container {
        max-width: 2560px;
        margin-right: 500px;
    }
    .bottom__top{
        margin-right: 60px;
    }
    .bottom__title {
        margin-left: 160px;
    }

    .bottom__view-all {
        font-size: 24px;
    }

    .bottom__vector {
        width: 24px;
        height: 15px;
    }

    .bottom__blocks {
        margin-right: 70px;
        margin-left: 160px;
    }

}