.footer {
    background: #F4F6F5;
}

.footer__part1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.8;
    color: #156371;
}

.footer__desc {
    font-weight: 4000;
    font-size: 15px;
    line-height: 1.8;
    color: #258798;;
}

.footer__logo{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer__line {
    border-bottom: 1px solid #156371;
    padding-top: 15px;
}

.footer__part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #258798;
}